<template>
  <div>
    <h4 class="font-monospace">Список студентов</h4>
    <ul class="list-group-item">
      <li v-for="(student, index) in students" :key="index">
        <nuxt-link :to="{
                  name: 'student-id',
                  params: { id: student.id }
              }">
          {{student.name}}
        </nuxt-link>
      </li>
    </ul>
    <div>
      <router-link class="btn btn-success" to="/addStudent">Добавить студента</router-link>
    </div>
  </div>
</template>


<script setup lang="ts">
  import { getUseFetch } from '~/utils/api';
  const { data: students } = await getUseFetch("/listStudents");
</script>
