<template>
  <div>
    <h4>Добавление студента</h4>
    <form @submit="addStudent" class="col-sm-4">
      <div class="form-group">
        <label for="name">ФИО:</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="ФИО" required v-model="student.name">
      </div>
      <div class="form-group">
        <label for="student_group">Студенческая группа:</label>
        <select class="form-select" required v-model="student.student_group_id">
          <option value="" disabled selected>Выберите студенческую группу</option>
          <option class="form-select" v-for="studentGroup in studentGroups" :key="studentGroup.id" :value="studentGroup.id">
            {{ studentGroup.name }}
          </option>
        </select>
      </div>
      <div>
        <input class="btn btn-success text-light" type="submit" value="Добавить">
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';
  import { useRouter } from 'vue-router';
  import { postFetch, getUseFetch } from '~/utils/api';

  const router = useRouter();

  const student = ref({
    name: "",
    student_group_id: null
  });

  const addStudent = async (e: Event) => {
    e.preventDefault();
    try {
      await postFetch("/addStudent", student.value);
      router.push('/listStudents');
    }
    catch (error) {
      console.error(error);
    }
  };
  const { data: studentGroups } = await getUseFetch("/listStudentGroups");
</script>
