<template>
  <div id="app" class="font-monospace">
    <nav class="navbar navbar-light" style="background-color: #a7eccd;">
      <a class="navbar-brand"><router-link class="item" to="/listStudents">Студенты</router-link></a>
    </nav>
  </div>
</template>

<style>
  .item {
    margin-right: 5px;
  }
</style>
