<template>
  <div v-if="student">
    <h4>Данные студента</h4>
    <form @submit.prevent="updateStudent" class="col-sm-4">
      <div class="form-group">
        <label for="name">ФИО:</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="ФИО" required v-model="student.name">
      </div>
      <div class="form-group">
        <label for="student_group">Студенческая группа:</label>
        <select class="form-select" name="student_group" id="student_group" required v-model="student.student_group_id">
          <option value="" disabled selected>Выберите студенческую группу</option>
          <option v-for="studentGroup in studentGroups" :key="studentGroup.id" :value="studentGroup.id">
            {{ studentGroup.name }}
          </option>
        </select>
      </div>
      <div class="button-row">
        <input class="btn btn-warning" type="submit" value="Обновить">
        <button class="btn btn-danger" @click="deleteStudent">Удалить</button>
      </div>
    </form>
  </div>
  <div v-else>
    <br>
    <p>Выберите студента</p>
  </div>
</template>

<script setup lang="ts">
  import { useRouter } from 'vue-router';
  import { postFetch, getUseFetch } from '~/utils/api';

  // для извлечения параметров из маршрута
  const route = useRoute();

  // для программного перенаправления по ссылкам
  const router = useRouter();

  const { data: student } = await getUseFetch(`/student/${route.params.id}`);

  const { data: studentGroups } = await getUseFetch("/listStudentGroups");

  const updateStudent = async () => {
    try {
      try {
        await postFetch(`/updateStudent/${student.value.id}`, student.value);
        router.push('/listStudents');
      }
      catch (error) {
        console.error(error);
      }
      router.push({ name: 'listStudents' })
    } catch (error) {
      console.error(error);
    }
  };

  const deleteStudent = async () => {
    try {
      await postFetch(`/deleteStudent/${student.value.id}`, student.value);
      router.push('/listStudents');
    } catch (error) {
      console.error(error);
    }
  };
</script>


<style>

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-row {
  display: flex;
  gap: 10px;
}
</style>
